.maincode{
    background-color: rgb(204, 176, 176);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 0;
}
.foto1{
    width:300px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
    object-position: center;/*  tambie puede ser left, right   */
    display: block;
}
.foto2{
    width:300px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
    object-position: center;/*  tambie puede ser left, right   */
    display: block;
}

p{
    font-family: Roboto,Arial;
    padding-left: 8px;
    font-size: 18px;
    
}
.search-bar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
    width: 400px;
    font-size: 30px;
    border-width: 5px;
    border-style: solid;
    border-width: 2px;        
    border-radius: 10px;        
    margin-bottom: 12px;
    display: block;
}
.texto-moscu{ 
    margin-top:0;
    width: 200%;
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
}

.ubi-boliche,
.precio-boliche{
    color: rgb(142, 5, 5);
    width: 100%;
    font-size: 16px;
}

.hub-preview{
    width: 300px;
    display: inline-block;
    margin-right: 15px;
}
.hub-preview2{
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.moscu-logo-tamanio{
    width: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 50px;
}

.logo-moscu{
    display: inline-block;
    width: 50px;    
    vertical-align: top;
}

.moscu-info{
    display: inline-block;
    width: 200px;
}

.moscu-row{
    margin-top: 12px;
}



@media only screen and (max-width: 1000px){
    .search-bar{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 12px;
        width: 200px;
        font-size: 18px;
        border-width: 3px;
        border-style: solid;
        border-width: 1px;        
        border-radius: 10px;        
        margin-bottom: 12px;
        display: block;
    }
    .hub-preview{
        width: 900px;
        display: inline-block;
        margin-right: 15px;
    }
    .hub-preview2{
        width: 900px;
        display: inline-block;
        vertical-align: top;
    }
    .foto1{
        width:100%;
        max-width:100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
        object-position: center;/*  tambie puede ser left, right   */
        display: block;
    }
    .foto2{
        width:100%;
        max-width:100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
        object-position: center;/*  tambie puede ser left, right   */
        display: block;
    }
}