.maincode{
    background-image: url('fondo3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.cabezera{
    position:sticky;
    position: top;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 1000;
    margin-top: 2px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

a{
    color: white;
    text-decoration: none; 
}

.opciones-nav{
    display: flex;
    flex:1;
    margin-left: 120px;
    margin-right: 120px;
    max-width: 920px;
    min-width: 500px;
    font-size: 17px;
    justify-content: space-between;
    align-items: center;
}
.busqueda{
    width: 200px;
}

.titulo1{
    font-size: 20px;
    align-items: center;
    justify-items: start;
    vertical-align: center; 
}
.menutop{
    flex: 1;
    margin-left: 40px;
    margin-right: 20px;
    max-width: 920px;
    vertical-align: center;
}

header {
    background-color: #333; /* Color de fondo del encabezado */
    padding: 20px; /* Espaciado interno del encabezado */
    color: #fff; /* Color del texto del encabezado */
  }
  
header h1 {
    margin: 0; /* Elimina el margen superior e inferior del título */
  }

header nav {
    margin-top: 10px; /* Espacio entre el título y la navegación */
  }
.logomarca{
    width: 40px;
    height: 40px;
    
}
header nav a {
    color: #fff; /* Color de enlaces */
    text-decoration: none; /* Sin subrayado */
    margin-right: 10px; /* Espacio entre enlaces */
  }
  

.foto1{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
    object-position: center;/*  tambie puede ser left, right   */
    display: block;
}
.foto2{
    border-radius: 15px;
    object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
    object-position: center;/*  tambie puede ser left, right   */
}
.foto-bayside{
    width:300px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover; /* tambien puede ser contain que contiene la img en los parametros de with y height*/
    object-position: center;/*  tambie puede ser left, right   */
    display: block;

}

p{
    font-family: Roboto,Arial;
    padding-left: 8px;
    font-size: 18px;
    
}

.search-bar{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar:hover{
    border: 4px solid rgb(180, 76, 203);
}


.texto-moscu{ 
    color:rgb(180, 76, 203) ;
    margin-top:0;
    width: 100%;
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
}

.ubi-boliche,
.precio-boliche{
    color: rgb(214, 214, 214);
    width: 100%;
    font-size: 16px;
}

.hub-preview{
    width: 300px;
    display: inline-block ;
    margin-right: 15px;
}
.hub-preview2{
    width: 100% ;
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 80px;
}
.hub-preview3{
    margin-right: 45px;
    width: 300px;
    display: block;
    /* vertical-align: top; */
    margin-bottom: 80px;
}

.moscu-logo-tamanio{
    width: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 50px;
}

.logo-moscu{
    vertical-align: top;
}

.moscu-row{
    display: grid;
    grid-template-columns: 70px 1fr;
    margin-top: 12px;
    vertical-align: bottom;

}
.boliches-grid{
    margin-left: 22px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.buy-button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.buy-button:hover{
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
}
   

.buy-button span {
    position: absolute;
}
   
.buy-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
.buy-button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
.buy-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
.buy-button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
.buy-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
.buy-button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
.buy-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
.buy-button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
.buy-button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
.buy-button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }
   

footer{
    width: 100%;
    height: 220px;
    background-color: rgb(102, 53, 53);
    margin-left: 0;
    border-radius: 12px;
}
.fondo{
    color: white;
}
.copyright{
    color: gray;
    font: xx-small;
}
.nombre-empresa{
    color: rgb(242, 10, 10);
    text-align: center;
    font-family: Roboto;
}

.social_networks{
    text-align: center;
}
.social_network_logo{
    width: 30px;    
    margin-right: 15px;

}


.social_network_hyperlink{
    display: inline-block;
    vertical-align: right;
}
.formulario{
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(173, 71, 71);
    border-radius: 10px;
    padding-bottom: 12px;
    padding-top: 8px;

    
}
.destino{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: none;                
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    width: 400px;

}
.title{
    font-size: 40px;
    margin-top: 14px;
    margin-bottom: 0;
}
.destino{
    margin-bottom: 35px;
}
.request-button{
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 150px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 16px;
}
.schedule-button{
    border: none;
    background-color: rgb(222, 221, 221);
    color: black;
    font-size: 16px;
    width: 150px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;              
}

.cadaBoliche{
    display: inline;
    margin-bottom: 100px;
}
.fotoCompra{
    width: 100%;
    height: 300px;
    object-fit: cover; 
    object-position: center;
    border-radius: 14px;
}

.mapa{
    display: inline-block;

}
iframe{
    border-radius: 30px;
    justify-items: end;
}
@media only screen and (max-width: 1300px){
    .boliches-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 20px;
        row-gap: 20px;
    }
    .search-bar{
        width: 70%;
        margin-bottom: 20px;
    }
    .opciones-nav{
        margin-right: 25px;
    }

}

@media only screen and (max-width: 1000px){

    .boliches-grid{
        /* display: grid;
        grid-template-columns: 1fr   ; */
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        column-gap: 20px;
        row-gap: 20px;
    }
    .moscu-row{
        display: grid;
        grid-template-columns: 70px 1fr;
        margin-top: 12px;
        vertical-align: bottom;
    
    }
    .cabezera{
        position:sticky;
        position: top;
        top: 0;
        z-index: 1000;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }
    .titulo1{
        flex: 0,5;
        font-size: 20px;
        align-items: center;
        justify-items: end;
        vertical-align: center;
    }
    .opciones-nav{
        width: 100%;
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
        margin-left: 32px;
        margin-right: 32px;
        min-width: 200px;
    }
    .opciones-header{

        padding: 30px 30px 30px 30px;
    }
    .search-bar{
        justify-items: end;
        width: 180px;
        margin-bottom: 20px;
    }
  

    .logo-moscu{
        display: inline-block;
        width: 80px;    
        vertical-align: top; 
    }
    .moscu-row{
        display: grid;
        grid-template-columns: 90px 1fr;
        margin-top: 12px;
        vertical-align: bottom;
    
    }    
    .moscu-logo-tamanio{
        width: 100%;
        object-fit: cover; 
        object-position: center;
        border-radius: 50px;
    }
    .hub-preview{
        width: 980px;
        display: inline-block;
        margin-right: 15px;       
        margin-bottom: 4px;

    }
    .hub-preview2{
        margin-top: 10px;
        width: 980px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    }
    .foto1{
        width:100%;
        max-width:100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover; 
        object-position: center;
        display: block;
    }
    .foto2{
        width:100%;
        max-width:100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover; 
        object-position: bottom;
        display: block;
    }
    .foto-bayside{
        width:100%;
        max-width:100%;
        height: 200px;
        border-radius: 15px;
        object-fit: cover;
        object-position: middle;
        display: block;
    }
    .formulario{
        width: 980px;
        text-align: center;
        margin-bottom: 30px;
        background-color: rgb(173, 71, 71);
        border-radius: 10px;
        padding-bottom: 12px;
        padding-top: 8px;
    
        
    }
    .destino{
        text-align: center;
        display: inline-block;
        background-color: rgb(240, 240, 240);
        border: none;                
        font-size: 16px;
        margin-top: 14px;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
        width: 400px;
    }
    .datosinfo{
        width: 900px;
        display: inline-block;
    }
    
    footer{
        width: 980px;
        height: 220px;
        background-color: rgb(102, 53, 53);
        margin-left: 0;
        border-radius: 12px;
    }
    
}